<app-notify *ngIf="!showMessage"></app-notify>
<div class="container" id="toppaddingPage">
    <div class="row justify-content-center">
        <div class="media-container-column col-lg-6" data-form-type="formoid">
            <h1 class="text-center vertical-spacing-bottom-8">Reset Password</h1>
            <form *ngIf="!showMessage" [formGroup]='resetPasswordForm' (ngSubmit)='onSubmit()'>
                  <div class="row row-sm-offset">
                      <div class="col-md-12" data-for="name" id="passwordDiv">
                          <div class="form-group">
                              <input type="password"
                              class="form-control"
                              required 
                              minlength="8"
                              reverse="true" 
                              name="newPassword" 
                              data-form-field="Password"
                              #newPassword
                              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" 
                              formControlName="newPassword" placeholder="New Password"
                                  (focus)="inputFocused()" (blur)="looseFocus()">
                                      <div *ngIf="resetPasswordForm.get('newPassword').touched && resetPasswordForm.get('newPassword').invalid" class="alert alert-danger">
                                  
                                      <span class="error font-color-red" *ngIf="resetPasswordForm.get('newPassword').hasError('required')">
                                          New Password Is Required.
                                      </span>
                                  <span class="error font-color-red" *ngIf="resetPasswordForm.get('newPassword').invalid && resetPasswordForm.get('newPassword').hasError('pattern')">
                                      <!-- {{view?.authField[1].fields.authField}} -->
                                     <span *ngIf="!NotAllowedSpecialCharacter(newPassword.value)">Contain at least one uppercase, one lowercase letter and one number.</span> 
                                     <span *ngIf="NotAllowedSpecialCharacter(newPassword.value)">Not contain special characters.</span>
                                  </span>
                                  <span class="error font-color-red" *ngIf="resetPasswordForm.get('newPassword').hasError('minlength')">
                                      Minimum of eight characters.
                                  </span>
                                  <span class="error" *ngIf="resetPasswordForm.get('newPassword').touched && resetPasswordForm.get('newPassword').value !== '' && 
                                  (resetPasswordForm.get('newPassword').value !== resetPasswordForm.get('confirmPassword').value)">
                                          Enter The Correct Password
                                  </span>
                              </div>
                          </div>
                          <div id="pswdLimit" class="pswdLimits" *ngIf="password_limits">
                              <ul>
                                  <li *ngFor="let link of passwordSideText">{{link}}</li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="row row-sm-offset">
                      <div class="col-md-12" data-for="name">
                          <div class="form-group">
                              <input type="password" #inputt class="form-control" 
                              required name="confirmPassword" data-form-field="Confirm Password"
                             formControlName="confirmPassword" placeholder="Confirm Password">
                            <div *ngIf="resetPasswordForm.get('confirmPassword').touched && (resetPasswordForm.get('confirmPassword').invalid ||
                            !checkPassword())" class="alert alert-danger">
                                  <span class="error font-color-red" *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')">
                                      Confirm Password Is Required.
                                  </span>
                                  <span class="error" *ngIf="!checkPassword()">Enter The Correct Password
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row input-group-btn">
                      <div class="col-md-12">
                          <button href="" type="submit" class="btn btn-primary btn-form display-4 col-md-12" [disabled]="resetPasswordForm.invalid || (resetPasswordForm.get('newPassword').value !== resetPasswordForm.get('confirmPassword').value)">
                                  Submit
                          </button>
                      </div>
                  </div>
              </form>
              <app-notify *ngIf="showMessage" inputMessage="SUCCESS"></app-notify>
            </div>
    </div>
  </div>