<app-notify *ngIf="!showMessage"></app-notify>
<div class="container" id="toppaddingPage">
    <div class="row justify-content-center">
        <div class="media-container-column col-lg-4" data-form-type="formoid">
            <h1 class="text-center vertical-spacing-bottom-8">{{view?.topLabel}}</h1>
            <div *ngIf="errorMessageDisplay" class="alert alert-danger center-text_Mobile">
                <div>
                    {{errorMessage}}
                </div>
            </div>
            <form *ngIf="!showMessage" [formGroup]='changePasswordForm' (ngSubmit)='onSubmit()'>
                <div class="row row-sm-offset">
                    <div class="col-md-12" data-for="name">
                        <div class="form-group">
                            <input type="password" class="form-control" required reverse="true" name="password" data-form-field="Password" pattern="^(?=.*[A-Za-z])(?=.*[A-Z][a-z])(?=.*\d)[A-Za-z\d]{8,}$"
                                formControlName="oldPassword" placeholder="{{view?.currentPasswordLabel}}">
                            <div *ngIf="changePasswordForm.get('oldPassword').touched && changePasswordForm.get('oldPassword').invalid" class="alert alert-danger center-text_Mobile">
                                <span class="error font-color-red" *ngIf="changePasswordForm.get('oldPassword').hasError('required') && changePasswordForm.get('oldPassword').touched">
                                    {{view?.authField[0].fields.authField}}
                                </span>
                                <span class="error font-color-red" *ngIf="changePasswordForm.get('oldPassword').touched && changePasswordForm.get('oldPassword').invalid && !changePasswordForm.get('oldPassword').hasError('required')">
                                    {{view?.authField[1].fields.authField}}
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-sm-offset">
                    <div class="col-md-12" data-for="name" id="passwordDiv">
                        <div class="form-group">
                            <input type="password"
                            class="form-control"
                            required 
                            minlength="8"
                            reverse="true" 
                            name="newPassword" 
                            data-form-field="Password"
                            #newPassword
                            pattern="^(?=[A-Za-z])(?=.*[A-Z][a-z])(?=.*\d)[A-Za-z\d]{2,}" 
                            formControlName="newPassword" placeholder="{{view?.newPasswordLabel}}"
                                (focus)="inputFocused()" (blur)="looseFocus()">
                                    <div *ngIf="changePasswordForm.get('newPassword').touched && changePasswordForm.get('newPassword').invalid" class="alert alert-danger center-text_Mobile">
                                    <span class="error font-color-red" *ngIf="changePasswordForm.get('newPassword').hasError('required')">
                                         {{view?.authField[2].fields.authField}}
                                    </span>
                                <span class="error font-color-red" *ngIf="changePasswordForm.get('newPassword').invalid && changePasswordForm.get('newPassword').hasError('pattern')">
                                    <!-- {{view?.authField[1].fields.authField}} -->
                                   <span *ngIf="!NotAllowedSpecialCharacter(newPassword.value)">{{view?.authField[7].fields.authField}}</span> 
                                   <span *ngIf="NotAllowedSpecialCharacter(newPassword.value)">{{view?.authField[8].fields.authField}}</span>
                                </span>
                                <span class="error font-color-red" *ngIf="changePasswordForm.get('newPassword').hasError('minlength')">
                                    {{view?.authField[5]?.fields.authField}}
                                </span>
                            </div>
                            <div *ngIf="changePasswordForm.get('newPassword').touched && checkPasswords()" class="alert alert-danger center-text_Mobile">
                                    <span class="error">
                                         Current and New Password cannot be same
                                    </span>
                            </div>
                        </div>
                        <div id="pswdLimit" class="pswdLimits" *ngIf="password_limits">
                            <ul>
                                <li *ngFor="let link of view?.passwordSideText">{{link}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row row-sm-offset">
                    <div class="col-md-12" data-for="name">
                        <div class="form-group">
                            <input type="password" class="form-control" required name="confirmPassword" data-form-field="Confirm Password"
                            formControlName="confirmPassword" placeholder="{{view?.confirmPasswordLabel}}">
                            <div *ngIf="changePasswordForm.get('confirmPassword').touched">
                                <div class="alert alert-danger center-text_Mobile error font-color-red" *ngIf="changePasswordForm.get('confirmPassword').hasError('required')">
                                     {{view?.authField[6]?.fields.authField}}
                                </div>
                                <div class="alert alert-danger center-text_Mobile error" *ngIf="checkCurrentNewPasswords()">
                                     {{view?.authField[4]?.fields.authField}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row input-group-btn">
                    <div class="col-md-12">
                        <button href="" type="submit" class="btn btn-primary btn-form display-4 col-md-12" [disabled]="changePasswordForm.invalid">
                            {{view?.buttonLabel}}
                        </button>
                    </div>
                </div>
            </form>
            <app-notify *ngIf="showMessage" inputMessage="SUCCESS"></app-notify>
        </div>
    </div>
</div>