<div class="modal-body custom-modal">
  <div class="custom-modal-title text-center">
    Your Session is about to expire due to inactivity.
  </div>
  <div class="custom-modal-message">
    <span class="custom-modal-text">Would you like to continue?</span> 
    <span class="custom-modal-button-block">
      <button type="button" class="custom-modal-button" (click)="onContinue()">YES</button>
      <button type="button" class="custom-modal-button" (click)="onCancel()">No</button>
    </span>
  </div>
</div>