
.descriptField, .listField, .shortDescript, h4 {
    color: #102043;
}

.shortDescript {
    font-weight: bolder;
    font-size: 1.3em;
}

.listField {
    margin-left: 2em;
}

.descriptField, .listField {
    font-size: .8em;
}
