<app-notify *ngIf="!showMessage"></app-notify>
<div class="container" id="toppaddingPage">
    <div class="row justify-content-center">
        <div class="media-container-column col-lg-6" data-form-type="formoid">
                <h1 class="text-center vertical-spacing-bottom-8">{{view?.topLabel}}</h1>
             <form *ngIf="!showMessage"  [formGroup]="forgotPasswordForm" (submit)='onSubmit()'>
                <div class="row row-sm-offset">
                    <div class="col-md-12" data-for="name">
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" data-form-field="Email" formControlName="email" placeholder="{{view?.emailLabel}}">
                            <div *ngIf="forgotPasswordForm.get('email').touched && forgotPasswordForm.get('email').invalid" class="alert alert-danger">
                                <span class="error font-color-red" *ngIf="forgotPasswordForm.get('email').hasError('required') && forgotPasswordForm.get('email').touched">
                                    Email is required
                                </span>
                                <span class="error font-color-red" *ngIf="forgotPasswordForm.get('email').getError('patternInvalid')?.text && forgotPasswordForm.get('email').invalid">
                                  {{forgotPasswordForm.get('email').getError('patternInvalid')?.text}}
                                  </span>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row input-group-btn">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-form display-4 col-md-4" [disabled]='forgotPasswordForm.invalid' value="{{view?.submitButtonText}}">
                            {{view?.submitButtonText}}
                        </button>
                    </div>
                </div>
            </form>
            <app-notify *ngIf="showMessage" inputMessage="USERNAME_PASSWORD"></app-notify>
        </div>
    </div>
</div>