.availableBalanceBlock{background-color:#fff;}

.input-group-btn {
    display: block;
    text-align: center;
  }
  
.pText {
  margin-top: 15px;
}

.imageMagnetic-card{
   display: block;
    margin: 12px auto;
    width: 20em;
}