<div class="container" id="toppaddingPage" *ngIf="termsInfo">
    <div class="row justify-content-center">
        <div class="media-container-column col-lg-9" data-form-type="formoid">
            <h1 class="text-center">{{termsInfo?.mainHeader}}</h1>
            <div class="col-md-12 mb-4">
                    <div class="sectionContent" *ngFor="let link of termsInfo.termsItems">
                       
                            <h4 class="headerText" [innerHTML]="link?.fields?.header"></h4>
                            <div *ngIf="elementActive && link.fields.header">
                                <hr>
                            </div>
                            <p class="descriptField" [innerHTML]="link?.fields?.description"></p>
                       
                    </div>
            </div>
        </div>
    </div>
</div>