<app-sub-header [view]="homeView?.subHeader"></app-sub-header>
<app-notify></app-notify>
<div id="signupBlock" class="container">
  <div class="max-width-980">
    <div class="row">
      <div class="col-sm-4 horizontal-spacing-right-9">
        <app-text-box [view]="homeView?.listItems"></app-text-box>
      </div>
      <div class="col-md-7 horizontal-spacing-left-7 collapse-padding-md horizontal-spacing-xs-left-3">
        <app-signup [view]="homeView?.signUp"></app-signup>
      </div>
    </div>
  </div>
</div>